.App {
  background-color:rgb(245, 247, 249);
  height: 550px;
  width:900px;
}

.content-upper {
  height: 120px;
  width:100%;
  padding:20px 50px;
}

.upper-title {
  font-size: 25px;
  font-weight:bold;
  margin-bottom: 20px;
}

.notice {
  background-color: #fff;
  border: solid 1px #aaa;
  border-radius:5px;
  padding: 10px 20px;
  width:80%;
}

.notice-title {
  font-size: 20px;
  font-weight:bold;
}

li {
  list-style-type: none;
  color:#aaa;
}

.select {
  text-align: center;
  display: flex;
  margin:20px;
  width:80%;
  justify-content: space-evenly;
}

.dash {
  font-size: 20px;
  width:10%;
  text-align: center;
  font-size: 20px;
  display: block;
  border-bottom: 1px solid navy;
}

.no-dash {
  font-size: 20px;
  width:10%;
  text-align: center;
  font-size: 20px;
  display: block;
}


.content-bottom {
  height: 300px;
  width:100%;
}

.list {
  display: flex;
  padding: 10px 70px 20px 20px;
}

.list-content-left {
  width:40%;
}

p {
  color: #aaa;
  font-size: 18px;
}

.list-content-right {
  padding:10px;
  width:60%;
}

.filter {
  background-color: #fff;
  border: solid 1px #aaa;
  border-radius:5px;
  padding: 20px 20px;
  width:90%;
  margin:5px;
}

input {
  border-radius:3px;
  font-size: 18px;
  margin:5px;
  padding-left: 10px;
}

.btn {
  text-align: right;
}

.button {
  background-color: rgb(96, 111, 199);
  color: #fff;
  padding:8px 20px;
}

.setting {
  text-align: center;
  width:80%;
  margin:0 auto;
  padding:20px;
}

.setting-upper {
  display: flex;
}

.setting-left {
  width:40%;
  line-height: 77px;
  text-align: left;
  font-size: 20px;
}

.setting-right {
  width:60%;
  display: flex;
  margin: 10px;
  background-color: #fff;
  border: solid 1px #aaa;
  border-radius:5px;
  padding: 20px;
}

.setting-text {
  text-align: left;
  width:60%;
  margin:auto 0px;
}

.setting-button {
  width:40%;
  text-align: right;
}

.setting-button button{
  background-color: rgb (250,251,251);
}

.setting-content {
  color: #aaa;
  font-size: 14px; 
  margin: 5px;
}

.setting-center {
  width:50%;
  display: flex;
  margin: 20px 0px 10px;
}

.center-title {
  width:80%;
  text-align: left;
  font-size: 20px;
}

.onoffswitch {
  width:20%;
  text-align: left;
}

.setting-bottom {
  color: #aaa;
  font-size: 14px;
  text-align: left;
}

.login-area {
  background-color: #fff;
  box-shadow:2px 2px 2px rgb(233, 233, 233);
  border-radius:2px;
  padding: 20px 20px;
  margin:10px auto;
  width:50%;
  height:240px;
}

.login-page {
  text-align: center;
  padding:50px 20px;
}

.logo img{
  width:30%;
}

.login {
  font-size: 20px;
  font-weight:bold;
  margin:15px;
}

.login-area input {
 width:80%;
 font-size: 14px;
 padding:10px;
}

.login-btn input {
  width:85%;
  background-color: rgb(0, 171, 96);
  color: #fff;
  font-weight:bold; 
}

.login-page p {
  font-size: 12px;
}

.signup {
  width:85%;
  height:30px;
}

.filter-text {
  margin:5px;
}

.login-area .signup {
  margin:20px 0px 50px 0px;
}

.disconnect-setup {
  display: flex;
  background-color: rgb(254,248,227);
  border: solid 1px rgb(239,196,67);
  border-radius:5px;
  padding: 10px 20px;
  width:80%;
}

.icon {
  border: 3px solid rgb(239,196,67);
  border-radius: 50px;
  width:20px;
  height:20px;
  font-size: 20px;
  margin-right:10px;
  text-align: center;
  font-weight:bold;
  color:rgb(239,196,67);
}

.disconnect-text li {
  color:#000000;
}

.blue {
  color:rgb(0,129,218);
  display:inline-block;
}
